.rows {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cols {
  text-align: center;
}
.footerlink {
  color: black;
  text-decoration: none;
}
.footerlink:hover {
  text-decoration: none;
}
